DATABASE_URL=postgres://sokoni:sokoni@localhost:5432/sokoni?sslmode=disable
SOKONI_TEST_SMB_BASE_PATH=//192.168.0.42/share
SOKONI_TEST_SMB_REMOTE_PATH=docs
SOKONI_TEST_SMB_USER=smbuser
SOKONI_TEST_SMB_PASS=smbpAsZ
SOKONI_TEST_SMB_OPTIONS=vers=2.0
SOKONI_TEST_SMB_EXPECTED_PDF_COUNT=321
